pydantic[email]
email-validator
python-multipart
numpy
openpyxl
xlrd
groq
python-dotenv
PyYAML
python-jose
bcrypt
psycopg[binary]
pydantic-settings
SQLAlchemy
httpx
fastapi
uvicorn[standard]
httpx
numpy
